.profile{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 4px;
    border: 1px solid var(--color-primary-bg);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 48px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12px;
}

.avatar { 
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: var(--color-primary-text);
    margin-bottom: 12px;
}
 
.tag{
    color: var(--color-secondary-text);
    margin-bottom: 12px;
}

.location {
    color: var(--color-secondary-text);
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: var(--color-primary-bg);
}

.statsItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(100% / 3);
    border-right: 1px solid var(--color-white);
    padding: 8px;
}

 .statsItem:last-child {
     border-right: none;
 }

.label{
    color: var(--color-secondary-text);
    margin-bottom: 5px;
    font-size: 16px;
}

.quantity{
    color: var(--color-primary-text);
    font-weight: bold;
    font-size: 18px;
}
